/* Colors ----------------------------------- Colors --------------------------------------------- Colors*/

:root{
    --base1-color: #003E6B;
    --base2-color: #5a92cf; 
    --light-color: #00649E;
    --dark-color: #07517c;
    --accent1-color: #f2a73d; 
    --accent1-dark: #795420; 
    --accent1-lightdark: #d69336; 
    --accent2-color: #F2FFFA; 
    --text1-color: #001429; 
}

body.padrao{
    --base1-color: #003E6B;
    --base2-color: #5a92cf; 
    --light-color: #00649E;
    --dark-color: #07517c;
    --accent1-color: #f2a73d; 
    --accent1-dark: #795420; 
    --accent1-lightdark: #d69336; 
    --accent2-color: #F2FFFA; 
    --text1-color: #001429; 
}

body.dark{
    --base1-color: #000f1a;
    --base2-color: rgb(17, 28, 39); 
    --light-color: #01273d;
    --dark-color: #021724;
    --accent1-color: #3a280f; 
    --accent2-color: #F2FFFA; 
    --text1-color: #967723; 
}


/* Global ----------------------------------- Globar */

html{
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    top: 0;
    background-color: var(--base1-color);
    color: var(--text1-color);
}

/* Header  ---------------------------------------- Header--------------------------------------------- Header*/

header{
    margin: 0;
    top: 0;
    width: 100%;
    padding: 0px;
    background-color: var(--accent1-color);
    color: var(--text1-color);
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

header div{
    display: inline-block;
    width: 100%;
    margin: 0;
}

header div h1{
    font-size: 48px;
    margin: 0;
    width: fit-content;
    padding: 5px 20px;
}
header div h2{
    margin: 0;
    width: fit-content;
    padding: 3px 20px;
}

.menu{
    background-color: var(--accent1-color);
    border-bottom: var(--text1-dark) 5px solid;
}

header div nav{
    display: flex;
    justify-content: right;
    align-items: center;
    width: auto;
    margin-right: 10px;
    padding: 0px 20px;
}

header div nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}
header div nav ul li:nth-child(2n){
    background-color: var(--accent1-lightdark);
}

header div nav ul li{
    margin: 0 15px;
    padding: 5px 12px;
    font-size: 22px;
    
}

header div nav ul li:hover{
    background-color: var(--accent1-dark);
    outline: var(--text1-color) 2px solid;
    border-radius: 3px;
}
header div nav ul li:active{
    background-color: var(--base2-color);
    outline: var(--accent2-color) 2px solid;
    border-radius: 3px;
}

header div nav ul li a{
    text-decoration: none;
    color: var(--accent2-color);
    
}
header div nav ul li a:hover{
    color: var(--accent1-color);
}
header div nav ul li a:active{
    color: var(--text1-color);
}

/* Main ---------------------------------------- Main--------------------------------------------- Main*/

main{
    margin-top: 300px;
}